body {
    font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    line-height: 1.5;
}
.heroHeader {
    background-image: url(home-header.png);
    height: 1574px;
    color: #AA0601;
}

.heroHeader .content {
    height: 100%;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px){
    .heroHeader {

        height: 629px;
    }
    .container {
        padding: 0 15px;
    }
    .heroHeader .heading {
        font-size: 32px;
    }
    .heroHeader .heading .sub {
        font-size: 16px;
    }
    .heroHeader .button{
        font-size: 32px;
    }
    .heroHeader .heading .sub {
        font-size: 16px;
    }

}

@media (max-width: 1025px){
    .heroHeader {
        height: 840px;
    }
    .container {
        padding: 0 40px;
    }
    .heroHeader .heading {
        font-size: 48px;
    }
    .heroHeader .heading .sub {
        font-size: 20px;
    }
    .heroHeader .button{
        font-size: 48px;
    }
    .heroHeader .heading .sub {
        font-size: 20px;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.heroHeader .heading {
    text-align: right;
    line-height: 1.5;
    font-weight: 700;
    font-size: 64px;
}

.heroHeader .heading .sub {
    display: block;
    font-weight: 400;
    font-size: 36px;
}

.heroHeader .a{
    text-decoration: none;
}
.heroHeader .button{
    background-color: #AA0601;
    color: #FBF2F2;
    font-size: 64px;
    line-height: 1.5;
    text-align: right;
}